@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1800px;
    padding: 0 80px;
    margin: auto;
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #ff5733;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #ff5733;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: black;
}
.navbar .menu li a:hover{
    color: blue;
    transition: color 0.3s ease;
}
.navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

/* Menu btn styling */
.menu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home section styling */

.home{
    display: flex;
    background: url("banner.jpg") no-repeat center;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #ff5733;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #ff5733;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #ff5733;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #ff5733;
    background: none;
}

/* all similar content styling code */
section .title{
    text-align: center;
    font: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}

/* about section styling */
.about{
    padding: 100px 0;
}
.about, .services{
    font-family: 'Poppins', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: -170px;
    left: 50%;
    width: 190px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -182px;
    left: 50%;
    font-size: 20px;
    color: #ff5733;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content,
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .text span{
    color: #ff5733;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #ff5733;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ff5733;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #ff5733;
    background: none;
}

/* service section styling */
.services{
    padding: 100px 0;
}
.services{
    color: #fff;
    background: #111;
}
.services .title::before,
.services .title::after{
    background: #fff;
}
.services .title::before{              
    content: "";
    position: absolute;
    bottom: -890px;
    left: 50%;
    width: 190px;
    height: 3px;
    background: #fff;     
    transform: translateX(-50%);
}
.services .title::after{
    background: #111;
    content: "what i provide";
    position: absolute;
    bottom: -902px;
    left: 50%;
    font-size: 20px;
    color: #ff5733;
    padding: 5px;
    transform: translateX(-50%);    
}
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: #ff5733;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: #ff5733;
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: #fff;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}








/* responsive media query start */
@media (max-width: 1800px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1200px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .services .title::before{ 
        bottom: -835px;
    }
    .services .title::after{
        bottom: -847px;
    }
}
@media (max-width: 970px){
    .max-width{
        padding: 0 40px;
    }
}
@media (max-width: 920px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #ffff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }  
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .title::before{ 
        bottom: -1145px;
    }
    .services .title::after{
        bottom: -1157px;
    }

}

@media (max-width: 650px){
    .max-width{
        padding: 0 20px;
    }
    .home .home-content .text-2{
        font-size: 57px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}
@media (max-width: 450px){
    .home .home-content .text-2{
        font-size: 47px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}


